//doctype html
//html
//  head
//    title= title
//    link(rel='stylesheet', href='/css/style.css')
//  body
//    block content

html
    head
        title Node.js Login
        link(rel='stylesheet', href='/vendor/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        script(type='text/javascript')
            //var _gaq = _gaq || [];
            //_gaq.push(['_setAccount', 'UA-1890531-10']);
            //_gaq.push(['_setDomainName', 'braitsch.io']);
            //_gaq.push(['_trackPageview']);
//    (function() {
//var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
//ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
//var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
//})();
body
    //a(href="http://github.com/braitsch/node-login")
        img#github-banner(style="position:absolute;top:0px;right:0;border:0;", src="https://a248.e.akamai.net/camo.github.com/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67", alt="Fork me on GitHub")
block content
block scripts