extends layout
block content
    script(src='/vendor/jquery.min.js')
    script(src='/vendor/jquery.form.js')
    script(src='/vendor/bootstrap-modal.js')
    script(src='/vendor/bootstrap-transition.js')
    script(src='/js/views/login.js')
    script(src='/js/controllers/loginController.js')
    script(src='/js/form-validators/loginValidator.js')
    script(src='/js/form-validators/emailValidator.js')
    #login-container
        form( method="post")#login-form.well.span4
            h1 Create an account!
            label Username
            input(type="text", name="user", id='user-tf').span4.required
            label Email
            input(type="text", name="email", id='email-tf').span4.required
            label Password
            input(type="password", name="pass1", id='pass1-tf').span4.required
            label Retype your password
            input(type="password", name="pass2", id='pass2-tf').span4.required
            button(type="submit")#btn-login.btn.btn-primary
                i.icon-lock.icon-white
                | Sign up
            div.clear-fix
            hr
            //div.btm-links
            a(class="button", href='/login') Login
                //button(type="submit")#btn-login.btn.btn-primary